
@model IEnumerable<Diary.Models.Employee>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Clean Bootstrap Half Page Template - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">

        .home-main {
            background: #D4AC0D;
            color: #fff;
            padding: 13%;
            text-align: center;
            margin-bottom: 2%;
        }

        .blinker {
            animation: blinker 1.5s linear infinite;
        }

        body {
            background-color: #196F3D;
        }



        .home-main button {
            background: #FFFFFF;
            color: #000000;
            border-radius: 0;
            font-weight: 700;
            width: 16%;
            height: 50px;
            top: 4%;
            margin-top: 3%;
        }

            .home-main button:hover {
                transition: 1s ease;
                color: #5812c5;
                width: 19%;
            }

        .content1-left {
            padding: 1%;
            background: #FFFFFF;
        }

        .content1-right {
            padding: 1%;
            background: #D4AC0D;
        }

        .home-content2 {
            background: #adb5bd;
            padding: 1.4%;
            text-align: center;
        }

            .home-content2 p {
                font-size: 18px;
                line-height: 50px;
            }

                .home-content2 p span {
                    font-weight: 500;
                }

        .img-circle {
            display: inline-block;
            width: 200px;
            height: 200px;
            background-position: 50% 50%;
            background-size: cover;
            border-radius: 50%;
        }
        button {
            margin-left: 30%;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid home-main">
        <h2>Good editing <span class="blinker">!</span></h2>
    </div>
    <div class="container-fluid home-content1">
        <div class="row">
            @foreach (Employee item in Model)
            {
                @if (item.Id % 2 == 0)
                {
                    <div class="col-md-4 content1-left">
                        
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    @*<div class="img-circular" style="background-image: url('@item.Photo');"></div>*@
                                    <div class="img-circle" style="background-image: url('@item.Photo');"></div>

                                    <div class="mt-3">
                                        <h4> @item.Fname </h4>
                                        <p class="text-secondary mb-1">@item.Position</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id"> <button class="btn-dark btn btn-default">Delete</button></a>
                                </div>
                                <div class="col-sm-5 text-secondary">
                                    <a asp-controller="Home" asp-action="Update" asp-route-id="@item.Id"><button class="btn-dark btn btn-default">Redug</button></a>
                                </div>
                            </div>
                        
                    </div>
                }
                else
                {
                    <div class="col-md-4 content1-right">
                        
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    @*<div class="img-circular" style="background-image: url('@item.Photo');"></div>*@
                                    <div class="img-circle" style="background-image: url('@item.Photo');"></div>

                                    <div class="mt-3">
                                        <h4> @item.Fname </h4>
                                        <p class="text-secondary mb-1">@item.Position</p>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="row ">
                                <div class="col-sm-5">
                                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id"> <button class="btn-dark btn btn-default">Delete</button></a>
                                </div>
                                <div class="col-sm-5 text-secondary">
                                    <a asp-controller="Home" asp-action="Update" asp-route-id="@item.Id"><button class="btn-dark btn btn-default">Redug</button></a>
                                </div>
                            </div>
                       
                    </div>
                }
            }
        </div>
    </div>

</body>
</html>

