@model IEnumerable<Diary.Models.Employee>

@{
    ViewData["Title"] = "Show";
}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #E0DABB;
    }
</style>

<h1>Show</h1>

<p>
    <a asp-action="Add" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hourly_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Many_hours_worked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hourly_Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Many_hours_worked)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Photo)" height="230" width="250" />
                </td>
            </tr>
        }
    </tbody>
</table>
